@import 'tailwindcss';

@custom-variant dark (&:is(.dark *));

@theme {
  --aspect-auto: auto;
  --aspect-square: 1 / 1;
  --aspect-video: 16 / 9;

  --color-nuclear-50: #f0f9ff;
  --color-nuclear-100: #e0f2fe;
  --color-nuclear-200: #b9e6fe;
  --color-nuclear-300: #7cd4fd;
  --color-nuclear-400: #36bffa;
  --color-nuclear-500: #0ca7eb;
  --color-nuclear-600: #008bd1;
  --color-nuclear-700: #016aa3;
  --color-nuclear-800: #065a86;
  --color-nuclear-900: #0b4b6f;
  --color-nuclear-950: #072f4a;

  --color-heroic-black: #000000;
  --color-heroic-uranium: #fefadc;
  --color-heroic-cherenkov: #20c8fb;
  --color-heroic-navy: #1a74e2;
  --color-heroic-graphite: #454749;
  --color-heroic-lightgray: #d3d3d3;

  --color-uranium-ore-bright: #ffff7e;
  --color-uranium-ore-darker: #ffca11;
  --color-uranium-orange: #e08400;
  --color-uranium-glow-bright: #2cfa1f;
  --color-uranium-glow-dark: #167b10;

  --font-heading: Orbitron, sans-serif;
  --font-body: Roboto, sans-serif;
  --font-body-serif: RobotoSerif, serif;
  --font-heading-serif: Chonburi, serif;
  --font-heading-slab: RobotoSlab, sans-serif;
  --font-cursive: Playwrite;

  --list-style-type-none: none;
  --list-style-type-disc: disc;
  --list-style-type-decimal: decimal;
  --list-style-type-square: square;
  --list-style-type-roman: upper-roman;

  --shadow-cherenkov: 0 0 10px #20c8fb;
}

/*
  The default border color has changed to `currentColor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentColor);
  }
}

@layer base {
  h1 {
    @apply font-heading text-3xl my-6 font-bold text-heroic-navy dark:text-heroic-cherenkov;
  }
  h2 {
    @apply font-heading-slab text-2xl my-4 font-bold text-heroic-navy dark:text-heroic-cherenkov;
  }
  h3 {
    @apply font-heading-slab text-xl my-4 font-bold text-heroic-navy dark:text-heroic-cherenkov;
  }
  h4 {
    @apply font-body text-lg my-4 font-bold text-heroic-navy dark:text-heroic-cherenkov;
  }
  p {
    @apply my-6;
  }
  a {
    @apply text-nuclear-800 dark:text-heroic-cherenkov dark:hover:text-nuclear-300 hover:text-nuclear-500 visited:text-nuclear-800;
  }
  ul {
    @apply list-disc list-inside;
  }
  li {
    @apply my-6 mx-4;
  }
  li li {
    @apply ml-8 mb-4;
  }
  pre {
    @apply bg-[#011627] dark:bg-[#07090F] my-4;
  }
  .item-plain-anchor {
    @apply no-underline  text-nuclear-800 hover:text-nuclear-800 visited:text-nuclear-800;
  }
  code {
    @apply text-sm;
  }
}
