@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
}

h1 {
  @apply text-3xl my-6 text-primary;
}
h2 {
  @apply text-2xl my-4 font-bold;
}
h3 {
  @apply text-xl my-4 text-primary;
}

a {
  @apply underline text-nuclear-blue-800 hover:text-nuclear-blue-500 visited:text-nuclear-blue-800;
}

.prompt-box {
  margin-top: 1rem;
  padding: 1rem;
  border: 1px solid #ddd;
  border-radius: 4px;
  background-color: #f5f5f5;
  color: #222222;
  @apply text-center w-3/4 mx-auto;
}
